#todo-list {
    list-style: none;
    padding: unset;
    width: 100%;

    li {
        display: flex;
        margin: 5px 10px;
        background: cadetblue;
        padding: 5px;
        border-radius: 10px;
        .checkbox-container {
            width: 10%;
            .checkbox {
                width: 35px;
                height: 35px;
                margin-bottom: 5px;
                &:checked {
                    background: #405189;
                    border-width: 0;
                }
                &.priority {
                    -webkit-font-smoothing: antialiased;
                    text-rendering: optimizeSpeed;
                    width: 35px;
                    height: 35px;
                    margin: 0;
                    display: block;
                    float: left;
                    position: relative;
                    cursor: pointer;
                }
                &.medium::after {
                    background-color: orange;
                }
                &.high::after {
                    background-color: red;
                }
                &.low::after {
                    background-color: yellow;
                }
            }
        }
        .inputs-container {
            &.checked {
                text-decoration: line-through;
            }
        }
        .icon-close-container {
            cursor: pointer;
            height: 30px;
            .close-icon:hover {
                background-color:black;
                color: white;
                border-radius: 10px;
            }
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: black;
    color: white;
    padding: 10px;
    z-index: 10;
    .priority-item {
        display: flex;
        .square {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
    } 
}

#new-task {
    border-radius: unset;
}
