#todo-list {
  list-style: none;
  padding: unset;
  width: 100%; }
  #todo-list li {
    display: flex;
    margin: 10px 0;
    border-radius: 10px; }
    #todo-list li .checkbox-container {
      width: 10%; }
      #todo-list li .checkbox-container .checkbox {
        width: 35px;
        height: 35px;
        margin-bottom: 5px; }
        #todo-list li .checkbox-container .checkbox:checked {
          background: #405189;
          border-width: 0; }
    #todo-list li .inputs-container.checked {
      text-decoration: line-through; }
    #todo-list li .icon-close-container {
      cursor: pointer;
      height: 30px; }
      #todo-list li .icon-close-container:hover {
        background-color: black;
        color: white;
        border-radius: 10px; }
    #todo-list li:hover {
      background-color: beige; }
